// Fonts
$font-main: 'Poppins', sans-serif;
$font-second: 'Urbanist', sans-serif;

// Colors
$dark: #0B0F17;
$light-dark: #1F283D;
$white: #fff;
$black: #000;
$pink: #ff6476;
$blue: #84d7e9;
$white-25: rgba(255, 255, 255, 25%);

// Breakpoints

$mobile-max: 'screen and (max-width: 26.5625rem)';
$mobile-min: 'screen and (min-width: 20rem)';
$mobile-interval: '(min-width: 20rem) and (max-width: 26.5625rem)';

$tablet-max: 'screen and (max-width: 63.9625rem)';

$mouse-device: '(hover: hover) and (pointer: fine)';
$touch-device: '(hover: none) and (pointer: coarse)';

// z-index

$index-1: 1; // Для наползающих элементов в общем потоке
$index-2: 2; // Для наползающих элементов в общем потоке
$index-3: 3; // Для масок, фона
$index-4: 4; // Для сайдбаров
$index-5: 5; // Для модальных окон
$index-6: 6; // Для элементов, покрывающих всё
