.password__background {
  background: url('../../assets/forgot.password/back.jpg') 0 0 / cover no-repeat;

  width: 100%;
  height: 100%;

  position: absolute;
  z-index: -1;
}

.password {
  width: 100%;
  min-height: 100%;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  &__logo-block {
    text-align: center;
  }

  &__title {
    text-align: center;

    color: $white;
    font-weight: 600;
    font-size: 30px;
    font-family: $font-second;

    padding-top: 16px;
    margin: 0;
  }

  &__text {
    text-align: center;

    color: $white-25;
    font-weight: 600;
    font-size: 14px;
    font-family: $font-main;

    padding-top: 10px;
    margin: 0;
  }
}
