.new-pass__background {
  background: url('../../assets/new.password/back.jpg') 0 0 / cover no-repeat;

  width: 100%;
  height: 100%;

  position: absolute;
  z-index: -1;
}
.new-pass {
  width: 100%;
  min-height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    margin-top: 35px;
  }
}

.validation__hidden {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

.validation {
  padding-top: 20px;
  padding-left: 7px;
  display: grid;
  row-gap: 15px;
  grid-template-columns: 1fr 1fr;
  &__tick {
    width: 16px;
    height: 16px;
    transition: all 0.5s ease;
  }
  &__cross {
    width: 14px;
    height: 14px;
    transition: all 0.5s ease;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__text {
    margin: 0;
    font-size: 14px;
    color: $white-25;
    font-weight: 600;
  }
}
