.new-pass__background {
  background: url('../../assets/new.password/back.jpg') 0 0 / cover no-repeat;

  width: 100%;
  height: 100%;

  position: absolute;
  z-index: -1;
}
.new-pass {
  width: 100%;
  min-height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    border: 1px solid $opacity;
    border-radius: 10px;

    width: 100%;
    max-width: 500px;
    height: 62px;

    background: $color-second;
    outline: none;

    font-size: 20px;
    color: $opacity;
    font-weight: 400;
    margin-top: 35px;

    transition: all 0.2s ease;

    padding: 16px 56px;

    ::placeholder {
      font-family: $font-main;
      font-weight: 400;
      font-size: 20px;
      color: $opacity;
    }

    &:focus {
      border: 1px solid $color-main;
      color: $color-main;
    }
  }

  &__form-label {
    position: relative;
  }
  &__form-lock {
    position: absolute;
    top: -2px;
    left: 18px;
  }

  &__form-submit {
    @include button;
    height: 62px;
    margin-top: 30px;
    padding: 0;

    border-radius: 20px;

    font-size: 28px;

    &:focus-visible {
      outline: $color-main;
      border: 1px solid $color-main;
    }
    @media #{$touch-device} {
      &:focus-visible {
        outline: none;
      }
    }
    @media #{$mouse-device} {
      &:hover {
        background: #b8f2ff;
      }
    }
  }
}

.new-pass__eye-hidden {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

.new-pass__eye {
  position: absolute;
  top: 2px;
  right: 0px;
  cursor: pointer;
}
.new-pass__eyeClose {
  cursor: pointer;
}
.new-pass__eyeClose-button {
  position: absolute;
  top: 0px;
  right: 18px;
}
.new-pass__cross {
  position: absolute;
  right: 62px;
  top: 2px;
  cursor: pointer;
}

.new-pass__input:focus ~ .new-pass__eyeClose-button svg path {
  fill-opacity: 1;
}

.new-pass__input:focus + .new-pass__form-lock path {
  fill-opacity: 1;
}

.validation__hidden {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

.validation {
  padding-top: 20px;
  padding-left: 7px;
  display: grid;
  row-gap: 15px;
  grid-template-columns: 1fr 1fr;
  &__tick {
    width: 16px;
    height: 16px;
  }
  &__cross {
    width: 14px;
    height: 14px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__text {
    margin: 0;
    font-size: 14px;
    color: $opacity;
    font-weight: 600;
  }
}
