.new-pass__background {
  background: url('../../assets/new.password/back.jpg') 0 0 / cover no-repeat;

  width: 100%;
  height: 100%;

  position: absolute;
  z-index: -1;
}
.new-pass {
  width: 100%;
  min-height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    margin-top: 35px;
  }
}
